:root {
  --primary-color: indigo;
  --dark-text: darkgray;
  --light-text: rgb(0, 0, 0);
  --bg-color: lightgray;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* font-family: "Noto Sans Caucasian Albanian", sans-serif ;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-color);
  color: var(--light-text); */
  align-items: center;
  background-color: aliceblue;

}


img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

header, main {
  max-width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding-bottom: 16px;
  padding-top: 8px;
  padding-left: 8px;
  background-color: rgb(9, 9, 72);
  color: white;
  width: 100%;
  margin: 0 auto;
}

.logo-area {
  display: flex;
  align-items: center;
}

#logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 8px 10px rgba(84, 82, 82);
  border: 1px solid rgb(37, 35, 35);
  margin-top: 8px;
}

.nav {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 10px;
  padding: 0;
}

.nav a {
  font-size: 15px;
  color: white;
  padding: 10px 12px;
  border-radius: 12px;
}

.nav a:hover{
  color: aqua;
  border: 1px solid black;
}

section {
  margin: 0;
  padding: 0;
}

#hero-section {
  /* max-width: 100%; */
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding: 24px;
  background-color: rgb(9, 9, 72);

  width: 100%;
  margin: 0 auto;

}

#hero-title {
  font-size: 50px;
  line-height: 1.05;
  letter-spacing: -0.02rem;
  font-weight: 800;
  color: white;
}

#highlight {
  color: rgb(0, 0, 255);
}

.hero-para {
  font-size: 20px;
  line-height: 1.05;
  color: white;
}

.hero-image {
  border-radius: 12px;
  margin-left: 15px;
}

button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid rgb(142, 142,246);
  background: rgb(33, 33, 198);
  color: white;
  margin: 8px;
}

button:hover {
  color: aqua;
  /* background-color: rgba(87, 63, 210, 0.414); */
  border: 1px solid black;
}

button:active {
  color: rgb(5, 255, 63);
}

.hero-list {
  display: inline-flex;
  display: flex;
  /* list-style: none; */
  gap: 2rem;
  color: white;
  margin-top: 8px;
  margin-left: 24px;
}

.hero-left {
  max-width: 45%;
  margin: 0 auto;
}

.hero-right {
  max-width: 25%;
  margin: 0 auto;
}


#section-1{
  max-width: 1200px;
  background-color: aliceblue;
  width: 100%;
  margin: 0 auto;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0;
  
}
  
#section-1 p {
  font-size: 20px;
  line-height: 1.05;
}

#section-1 h2 {
  font-size: 30px;
  line-height: 1.05;
  letter-spacing: -0.02rem;
  font-weight: 800;
}

article {
  background-color: rgba(4, 138, 255, 0.108);
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px;
  min-height: 150px;
  margin-top: 4px;
  width: (50% * rem);
  height: auto;
  margin: 0 auto;
}

article p{
  padding: 12px 0;
}

.section-head {
  margin: 0 auto;
  align-items: center;
  text-align: center;
}

.article-room {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  padding-top: 20px;
  padding-left: 2rem;
  padding-right: 2rem;

  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

}

#step-4 {
  grid-row-start: 2;
}

#step-5 {
  grid-row-start: 2;
}

.section-1 a {
  color: white;
}

.startJourney {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

article:hover {
  h3, a{
  color:rgba(0, 0, 255, 0.714);

  }
}

/* media query */
@media (max-width : 720px){
  
  body {
    flex-direction: column;
  }

  #hero-section {
    flex-direction: column;
    /* min-width: 700px; */
  }

  .hero-right {
    margin: 0 auto;
    min-width: 350px;
    margin-top: 24px;
  }

  .section-1 {
    flex-direction: column;
    margin: 0 auto;
  }

  article {
    flex-direction: column;
    width: 350%;
    margin: 0 auto;
    height: auto;
  }

  .article-room {
    flex-direction: column;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  #step-2 {
    grid-row-start: 2;
  }

  #step-3 {
    grid-row-start: 3;
  }

  #step-4 {
    grid-row-start: 4;
  }

  #step-5 {
    grid-row-start: 5;
  }
}