:root {
  --primary-color: indigo;
  --dark-text: darkgray;
  --light-text: rgb(0, 0, 0);
  --bg-color: lightgray;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Sans Caucasian Albanian", sans-serif ;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-color);
  color: var(--light-text);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

header, main {
  max-width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-bottom: 16px;
}

.logo-area {
  display: flex;
  align-items: center;
}

#logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 8px 10px rgba(84, 82, 82);
  border: 1px solid rgb(37, 35, 35)
}

.nav {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav a {
  font-size: 15px;
  color: rgb(67, 67, 166);
  padding: 10px 12px;
  border-radius: 12px;
}

.nav a:hover{
  color: aqua;
  background-color: antiquewhite;
  border: 1px solid black;
}

section {
  max-width: 810px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

#hero-title {
  font-size: 50px;
  line-height: 1.05;
  letter-spacing: -0.02rem;
  font-weight: 800;
}

#highlight {
  color: blue;
}

.hero-para {
  font-size: 20px;
}

.hero-image {
  border-radius: 12px;
  margin-left: 15px;
}

button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 15px;
  border-radius: 12px;
  border: 1px solid rgb(142, 142,246);
  background: rgb(142, 142,246);
  color: antiquewhite;
}

.hero-list {
  display: inline-flex;
  display: flex;
  list-style: none;
  gap: 1rem;
  color: green;
}

/* media query */
@media (max-width : 720px){

  
  body {
    flex-direction: column;
    background-color: green;
  }

}

.section-1{
  max-width: 810px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
  
article {
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px;
  min-height: 150px;
  margin-top: 4px;
}

.section-head {
  max-width: 810px;
}

.article-room {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 3rem;
}

#step-4 {
  grid-row-start: 2;
}

#step-5 {
  grid-row-start: 2;
}