:root {
  --primary-color: indigo;
  --dark-text: darkgray;
  --light-text: rgb(0, 0, 0);
  --bg-color: lightgray;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* font-family: "Noto Sans Caucasian Albanian", sans-serif ;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-color);
  color: var(--light-text); */
  align-items: center;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

header, main {
  max-width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding-bottom: 16px;
  padding-top: 8px;
  padding-left: 8px;
  background-color: rgb(9, 9, 72);
  color: white;
}

.logo-area {
  display: flex;
  align-items: center;
}

#logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 8px 10px rgba(84, 82, 82);
  border: 1px solid rgb(37, 35, 35);
  margin-top: 8px;
}

.nav {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav a {
  font-size: 15px;
  color: white;
  padding: 10px 12px;
  border-radius: 12px;
}

.nav a:hover{
  color: aqua;
  background-color: rgb(96, 96, 96);
  border: 1px solid black;
}

section {
  margin: 0;
  padding: 0;
}

#hero-section {
  max-width: 100%;
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding: 24px;
  background-color: rgb(9, 9, 72);
  margin-bottom: 40px;
}

#hero-title {
  font-size: 50px;
  line-height: 1.05;
  letter-spacing: -0.02rem;
  font-weight: 800;
  color: white;
}

#highlight {
  color: rgb(0, 0, 255);
}

.hero-para {
  font-size: 20px;
  color: white;
}

.hero-image {
  border-radius: 12px;
  margin-left: 15px;
}

button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid rgb(142, 142,246);
  background: rgb(33, 33, 198);
  color: white;
  margin: 8px;
}

button:hover {
  color: aqua;
  background-color: rgba(87, 63, 210, 0.414);
  border: 1px solid black;
}

button:active {
  color: rgb(39, 213, 79);
}

.hero-list {
  display: inline-flex;
  display: flex;
  /* list-style: none; */
  gap: 2rem;
  color: white;
  margin-top: 8px;
  margin-left: 24px;
}

.hero-left {
  max-width: 45%;
}

.hero-right {
  max-width: 25%;
}

/* media query */
@media (max-width : 720px){

  
  body {
    flex-direction: column;
    background-color: green;
  }

}

.section-1{
  max-width: 950px;
  margin-left: 200px;
  background-color: rgb(0, 0, 0);
}
  
article {
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px;
  min-height: 150px;
  margin-top: 4px;
  width: 200px;
  height: 250px;
}

.section-head {
  max-width: 810px;
  align-items: center;
  margin-left: 200px;
  text-align: center;
}

.article-room {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
  margin: 2rem 8rem;
}

#step-4 {
  grid-row-start: 2;
}

#step-5 {
  grid-row-start: 2;
}

.section-1 a {
  color: white;
}